<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>YETI CAM</title>
    <meta name="description" content="">
    <meta name="author" content="">

    {{ JSGlue.include() }}
    <script type=text/javascript src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/configure.js') }}"></script>

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='https://fonts.googleapis.com/css?family=Black+Ops+One' rel='stylesheet' type='text/css'>

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
</head>
<body style="background-image: url({{ url_for('static', filename='images/background-dark.png') }}); background-repeat: repeat">

    <!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container">
        <div class="row" style="margin-top: 10%">
            <div class="twelve columns">
                <h4>CONFIGURE</h4>
            </div>
        </div>
        
        <form id="config">
            <!--Image configurations-->
            <div class="row" style="margin-top: 5%">
                <h5>Upload</h5>
            </div>
            <div class="row"> 
                <div class="six columns">
                    <label for="capture_upload_min">Frequency (min)</label>
                    <input class="u-full-width" type="text" id="capture_upload_min" name="capture_upload_min">
                </div>
            </div>
            <div class="row">
                <div class="six columns">
                    <label for="upload_threshold">Threshold</label>
                    <input class="u-full-width" type="number" id="upload_threshold" name="upload_threshold">
                </div>
            </div>
            <div class="row">
                <div class="six columns">
                    <label for="capture_retention_days">Retention (days)</label>
                    <input class="u-full-width" type="text" id="capture_retention_days" name="capture_retention_days">
                </div>
            </div>
            <!--Motion configurations-->
            <div class="row" style="margin-top: 5%">
                <h5>Motion</h5>
            </div>
            <div class="row">
                <label class="three columns">
                    <input type="checkbox" id="motion_enabled" name="motion_enabled">
                    <span class="label-body">Enabled</span>
                </label>
            </div>
            <div id="motion_settings">
                <div class="row">
                    <div class="three columns">
                        <label for="motion_start">Schedule Start</label>
                        <input class="u-full-width" type="number" id="motion_start" name="motion_start">
                    </div>
                    <div class="three columns">
                        <label for="motion_end">Schedule End</label>
                        <input class="u-full-width" type="number" id="motion_end" name="motion_end">
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 3%">
                <input type="hidden" id="version" name="version" />
                <input class="button-primary" type="submit" value="Update {{ name }}">
            </div>
            
            <div class="row">
                <span id="success-message" style="color:darkgreen;" hidden>Success</span>
                <span id="error-message" style="color:darkred;" hidden>Error</span>
            </div>
        </form>
    </div>

    <!-- End Document
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
