<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  	<meta charset="utf-8">
  	<title>YETI CAM</title>
  	<meta name="description" content="">
  	<meta name="author" content="">

  	{{ JSGlue.include() }}
  	<script type=text/javascript src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  	<script type=text/javascript src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  	<script type=text/javascript src="{{ url_for('static', filename='js/dragend.js') }}"></script>
  	<script type=text/javascript src="{{ url_for('static', filename='js/jquery.loadTemplate.js') }}"></script>
  	<script type="text/javascript">
  		var socket = io.connect('ws://' + document.domain + ':' + {{config['SOCKET_PORT']}} + '/web');
  	</script>

	<script type=text/javascript src="{{ url_for('static', filename='js/alerts.js') }}"></script>
	<script type=text/javascript src="{{ url_for('static', filename='js/weather.js') }}"></script>
  	<script type=text/javascript src="{{ url_for('static', filename='js/viewer.js') }}"></script>

  <!-- Mobile Specific Metas
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	<meta name="mobile-web-app-capable" content="yes">
  	<meta name="application-name" content="YETICAM">

  	<link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='images/bigfoot-logo-192.png') }}">
  	<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
  	<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
  	<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
  	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

  	<link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">

  	<meta name="msapplication-config" content="{{ url_for('static', filename='browserconfig.xml') }}">
  	<meta name="msapplication-starturl" content="/">
  	<meta name="msapplication-navbutton-color" content="#9B9B9B">

  	<meta name="theme-color" content="#9B9B9B">

  <!-- FONT
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  	<link href='https://fonts.googleapis.com/css?family=Black+Ops+One' rel='stylesheet' type='text/css'>

  <!-- CSS
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  	<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  	<link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">

  </head>
  <body style="background-image: url({{ url_for('static', filename='images/background-dark.png') }}); background-repeat: repeat">

  <!-- Primary Page Layout
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  	<div class="container">
  		<h6 id="alert-message" class="alert alert-default"></h6>
  		<div class="row" style="margin-top: 10%">
			<div class="twelve columns inline">
            	<div style="font-size:2em">YETI CAM</div>
				<div id="conditions-container" class="u-pull-right">
					<script id="conditions-template" type="text/x-custom-template">
						<a href="/weather">
							<div>
								<div data-class="icon" class="wu wu-32 wu-black" style="position:relative;top:5px;left:3px;" data-format="IconFormatter" data-format-options="true" data-format-target="class"></div>
								<div data-content="temp" data-format="TempFormatter" data-format-options="true"></div>
							</div>
						</a>
						<div>
							<div>
								<div class="icon" style="content: url({{ url_for('static', filename='images/cabin-icon.png') }});position:relative;top:1px;"></div>
								<div data-content="indoor.temp" data-format="TempFormatter" data-format-options="true"></div>
							</div>
							<span>|</span>
							<div>
								<div data-content="indoor.humidity"></div>
								<span>%</span>
							</div>
						</div>
					</script>
				</div>
			</div>
        </div>
  		<div id="capture-container" hidden>
  			<script id="capture-template" type="text/x-custom-template">
  				<div data-id="name" class="dragend-page">
  					<div class="row image-container">
                        <div class="twelve columns">
                            <div class="overlay">
                                <a data-href="name" data-format="ConfigUrlFormatter" data-format-target="href">
                                    <div class="config-icon" style="background: url('{{ url_for('static', filename='images/settings.png') }}') no-repeat center center;"></div>
                                </a>
                            </div>

                            <div class="online indicator overlay" style="right:0;" hidden>
                                <span class="icon" style="content: url({{ url_for('static', filename='images/indicator-green.png') }});"></span>
                            </div>

                            <div class="offline indicator overlay" style="right:0;">
                                <span class="icon" style="content: url({{ url_for('static', filename='images/indicator-grey.png') }});"></span>
                            </div>

                            <img class="capture" data-src="url" />
                        </div>
                    </div>

  					<div class="row">
  						<div class="column">
  							<div class="status"></div>
  						</div>
  					</div>

  				</div>
  			</script>
  		</div>
  		<div id="loading" style="background: url('{{ url_for('static', filename='images/loading.gif') }}') no-repeat center center"></div>
  	</div>

<!-- End Document
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
