<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>YETI CAM</title>
  <meta name="description" content="">
  <meta name="author" content="">

  {{ JSGlue.include() }}
  <script type=text/javascript src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script type=text/javascript src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script type=text/javascript src="{{ url_for('static', filename='js/jquery.loadTemplate.js') }}"></script>
  <script type=text/javascript src="{{ url_for('static', filename='js/moment.js') }}"></script>
  <script type="text/javascript">
    var socket = io.connect('ws://' + document.domain + ':' + {{config['SOCKET_PORT']}} + '/web');
  </script>

  <script type=text/javascript src="{{ url_for('static', filename='js/alerts.js') }}"></script>
  <script type=text/javascript src="{{ url_for('static', filename='js/weather.js') }}"></script>

  <script type="text/javascript">
      refreshWeatherData(false, function() {
        $("#loading").hide();
      });
  </script>

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='https://fonts.googleapis.com/css?family=Black+Ops+One' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/unslider.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/unslider-dots.css') }}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
</head>
<body style="background-image: url({{ url_for('static', filename='images/background-dark.png') }}); background-repeat: repeat">

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <h6 id="alert-message" class="alert alert-default"></h6>

    <div class="row" style="margin-top: 10%">
      <div class="twelve columns">
        <div class="u-pull-left" style="font-size:2em">WEATHER</div>
        <div class="u-pull-right" style="width:130px;height:80px;">
          <a href="https://www.wunderground.com/personal-weather-station/dashboard?ID=KPACLEAR5" target="_blank">
            <img src="http://icons.wxug.com/graphics/wu2/logo_130x80.png">
          </a>
          <img src="https://darksky.net/dev/img/attribution/poweredby.png">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="ten columns">
          <div id="alerts-container">
            <script id="alerts-template" type="text/x-custom-template">
              <div>
                <li data-class="severity" data-format-target="class" data-format="AlertFormatter">
                  <a data-href="uri" target="_blank"><span data-content="title"></span></a>
                </li>
              </div>
            </script>
          </div>
      </div>
    </div>

    <div id="conditions-container">
      <script id="conditions-template" type="text/x-custom-template">
        <div class="weather-section" style="margin-top:20px;">
          <div class="row">
            <div class="six columns u-max-full-width" style="padding:10px;">
              <div class="u-pull-left" style="padding:10px 15px 0px 0px">
                <div data-class="icon" class="wu wu-64 wu-black" data-format="IconFormatter" data-format-options="true" data-format-target="class"></div>
              </div>
              <div class="u-pull-left">
                <h3 data-content="temp" data-format="TempFormatter" style="margin-bottom:0px;"></h3>
                <div data-content="apparentTemp" data-format="TempFormatter"></div>
              </div>
              <div class="u-pull-right">
                <div style="margin-bottom:10px;" data-content="weather"></div>
                <div><span class="wu-icon sunrise" title="Sunrise"></span><span data-content="astrology.sun.sunrise" data-format="SimpleTimeFormatter"></span></div>
                <div><span class="wu-icon sunset" title="Sunset"></span><span data-content="astrology.sun.sunset" data-format="SimpleTimeFormatter"></span></div>
              </div>
            </div>
            <div class="six columns condensed" style="padding:10px;" >
              <table>
                <tbody>
                  <tr>
                    <td>Precip</td>
                    <td><span data-content="precipitation.daily"></span>&nbsp;in</td>
                  </tr>
                  <tr>
                    <td>Precip Rate</td>
                    <td><span data-content="precipitation.hourly"></span>&nbsp;in/hr</td>
                  </tr>
                  <tr>
                    <td>Humidity</td>
                    <td><span data-content="humidity"></span><span>%</span></td>
                  <tr>
                    <td>Wind</td>
                    <td><span data-content="wind.speed"></span>&nbsp;mph&nbsp;<span data-content="wind.direction"></span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </script>
    </div>
    <div id="forecast-container" style="margin-top:50px;margin-bottom:30px;">
      <script id="forecast-template" type="text/x-custom-template">
        <div class="row" style="margin-top:10px;">
          <div data-content="date" data-format="WeekdayFormatter" class="two columns"></div>
          <div data-content="summary" class="ten columns" style="font-style: italic;"></div>
        </div>
        <div class="weather-section">
          <div class="row">
            <div class="six columns u-max-full-width" style="padding:10px;">
              <div class="u-pull-left" style="padding:10px 15px 0px 0px">
                <div data-class="icon" class="wu wu-64 wu-black" data-format="IconFormatter" data-format-target="class" data-format-options="true"></div>
              </div>
              <div class="u-pull-left">
                <h5><span data-content="temp.low" data-format="TempFormatter" data-format-options="true"></span> | <span data-content="temp.high" data-format="TempFormatter" data-format-options="true"></span></h5>
                <div data-content="conditions" style="margin-bottom:10px;"></div>
              </div>
              <div class="u-pull-right" style="padding-right:12px;">
                <div class="precip-indicator">
                  <span data-class="precipitation.type" data-format="PrecipitationIconFormatter" data-format-target="class" title="chance of precipitation"></span>
                  <span data-content="precipitation.accumulation" data-format="PrecipitationFormatter"></span>
                </div>
              </div>
            </div>
            <div class="six columns condensed" style="padding:10px;" >
              <table>
                <tbody>
                  <tr>
                    <td>Chance of Precip</td>
                    <td><span data-content="precipitation.probability" data-format="PercentageFormatter"></span></td>
                  </tr>
                  <tr>
                    <td>Average Wind</td>
                    <td><span data-content="wind.speed"></span>&nbsp;mph&nbsp;<span data-content="wind.dir"></span></td>
                  </tr>
                  <tr>
                    <td>Humidity</td>
                    <td><span data-content="humidity" data-format="PercentageFormatter"></span></td>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div style="padding:0px 0px 10px 10px;"><span data-class="astrology.moonphase.value" data-format="MoonPhaseFormatter" data-format-target="class" class="moon" title="Moon Phase"></span><span data-content="astrology.moonphase.name"></span></div>
          </div>
        </div>
      </script>
    </div>
    <div id="loading" style="background: url('{{ url_for('static', filename='images/loading.gif') }}') no-repeat center center"></div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
