/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Black Ops One", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; }
img {
    width: 100%;
    height: auto;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.0rem; line-height: 1.2;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0; }


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #1EAEDB; }
a:hover {
  color: #0FA0CE; }


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

select.disabled, input.disabled {
    color: gray;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }

.condensed th,.condensed td  {
  padding: 0px 15px;
  text-align: left;
  border-bottom: none; }

.condensed td:first-child {
  padding-left: 0; }

.condensed table {
  margin-bottom: 0rem; }

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }
.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
    text-decoration:none;
    color:#892828;
}

a:hover {
    color:#B23434;
}

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }

.alert {
    position: absolute;
    background-color: #000000;
    background-color: rgba(122,124,127, 0.4);
    top: -20px
}



.alert-red {
  color: darkred;
}

li.alert-red > a {
  color: af1111;
}

.alert-amber {
  color: #FFA700;
}

li.alert-amber > a {
  color: #ce850e;
}

.alert-green {
  color: darkgreen;
}

.alert-default {
  color: #000000;
}

li.alert-default > a {
  color: #423f3f;
}

.image-container {
    position: relative;
}

.overlay {
    position: absolute;
}

.indicator {
    padding: 5px;
}

.inline div {
    display: inline-block;
}

.icon {
    width: 16px;
    height: 16px;
    display: inline-block;
}

.conditions-icon {
    width: 24px;
    height: 24px;
}

.config-icon {
    width: 32px;
    height: 32px;
    opacity:.5;
}

.config-icon:hover {
    opacity:.75;
    cursor: pointer;
}

.camera-disabled {
    cursor: default;
    opacity: .5;
}

.camera-enabled:hover {
    cursor: pointer;
    opacity: .5;
}

.weather-section {
    background-color:rgba(0, 0, 0, 0.15);
    padding:5px 5px 5px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wu-icon {
    background-image:url("//icons.wxug.com/i/o/sprite-common-vert.png?v=1.21");
    background-repeat:no-repeat;
    display:inline-block;
    vertical-align:middle;
    width:20px;
    height:20px;
    margin-right:5px }

.wu-icon.wet {background-position:0 -397px;width:16px;height:16px}
.wu-icon.snow {background-position:-2px -733px;width:16px;height:16px}
.wu-icon.snow.wet {background-position:-2px -750px;width:16px;height:16px}

.wu-icon.sunrise{background-position:0 2px;}
.wu-icon.sunset{background-position:0 -18px;}

.moon {
    background-image:url("//icons.wxug.com/i/dashboard/MoonPhasesSprite.png");
    background-repeat:no-repeat;
    display:inline-block;
    vertical-align:middle;
    width:20px;
    height:20px;
    margin-right:5px }

.moon.age1{background-position:-0px -0px}
.moon.age2{background-position:-20px -0px}
.moon.age3{background-position:-40px -0px}
.moon.age4{background-position:-60px -0px}
.moon.age5{background-position:-80px -0px}
.moon.age6{background-position:-100px -0px}
.moon.age7{background-position:-120px -0px}
.moon.age8{background-position:-140px -0px}
.moon.age9{background-position:-160px -0px}
.moon.age10{background-position:-180px -0px}
.moon.age11{background-position:-200px -0px}
.moon.age12{background-position:-220px -0px}
.moon.age13{background-position:-240px -0px}
.moon.age14{background-position:-260px -0px}
.moon.age15{background-position:-280px -0px}
.moon.age16{background-position:-300px -0px}
.moon.age17{background-position:-320px -0px}
.moon.age18{background-position:-340px -0px}
.moon.age19{background-position:-360px -0px}
.moon.age20{background-position:-380px -0px}
.moon.age21{background-position:-400px -0px}
.moon.age22{background-position:-420px -0px}
.moon.age23{background-position:-440px -0px}
.moon.age24{background-position:-460px -0px}
.moon.age25{background-position:-480px -0px}
.moon.age26{background-position:-500px -0px}
.moon.age27{background-position:-520px -0px}
.moon.age28{background-position:-540px -0px}
.moon.age29{background-position:-560px -0px}
.moon.age30{background-position:-580px -0px}
.moon.age31{background-position:-600px -0px}

#loading {
    position: absolute; width: 100%; height: 100%;
}

/* WU Icons
   https://github.com/manifestinteractive/weather-underground-icons

   awesome
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.wu {
  display: inline-block;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

/*! Setup Default Sizes */
.wu-16 { width: 16px; height: 16px; }
.wu-32 { width: 32px; height: 32px; }
.wu-64 { width: 64px; height: 64px; }
.wu-128 { width: 128px; height: 128px; }
.wu-256 { width: 256px; height: 256px; }

/*! Black Day PNG Icons */
.wu-16.wu-black { background-image: url(../images/wu/black/16x16/_spritesheet.png); }
.wu-32.wu-black { background-image: url(../images/wu/black/32x32/_spritesheet.png); }
.wu-64.wu-black { background-image: url(../images/wu/black/64x64/_spritesheet.png); }
.wu-128.wu-black { background-image: url(../images/wu/black/128x128/_spritesheet.png); }
.wu-256.wu-black { background-image: url(../images/wu/black/256x256/_spritesheet.png); }

/*! White Day PNG Icons */
.wu-16.wu-white { background-image: url(../images/wu/white/16x16/_spritesheet.png); }
.wu-32.wu-white { background-image: url(../images/wu/white/32x32/_spritesheet.png); }
.wu-64.wu-white { background-image: url(../images/wu/white/64x64/_spritesheet.png); }
.wu-128.wu-white { background-image: url(../images/wu/white/128x128/_spritesheet.png); }
.wu-256.wu-white { background-image: url(../images/wu/white/256x256/_spritesheet.png); }

/*! Solid Black Day PNG Icons */
.wu-16.wu-solid-black { background-image: url(../images/wu/solid-black/16x16/_spritesheet.png); }
.wu-32.wu-solid-black { background-image: url(../images/wu/solid-black/32x32/_spritesheet.png); }
.wu-64.wu-solid-black { background-image: url(../images/wu/solid-black/64x64/_spritesheet.png); }
.wu-128.wu-solid-black { background-image: url(../images/wu/solid-black/128x128/_spritesheet.png); }
.wu-256.wu-solid-black { background-image: url(../images/wu/solid-black/256x256/_spritesheet.png); }

/*! Solid White Day PNG Icons */
.wu-16.wu-solid-white { background-image: url(../images/wu/solid-white/16x16/_spritesheet.png); }
.wu-32.wu-solid-white { background-image: url(../images/wu/solid-white/32x32/_spritesheet.png); }
.wu-64.wu-solid-white { background-image: url(../images/wu/solid-white/64x64/_spritesheet.png); }
.wu-128.wu-solid-white { background-image: url(../images/wu/solid-white/128x128/_spritesheet.png); }
.wu-256.wu-solid-white { background-image: url(../images/wu/solid-white/256x256/_spritesheet.png); }

/*! Black Might PNG Icons */
.wu-16.wu-black.wu-night { background-image: url(../images/wu/black/16x16/_nt_spritesheet.png); }
.wu-32.wu-black.wu-night { background-image: url(../images/wu/black/32x32/_nt_spritesheet.png); }
.wu-64.wu-black.wu-night { background-image: url(../images/wu/black/64x64/_nt_spritesheet.png); }
.wu-128.wu-black.wu-night { background-image: url(../images/wu/black/128x128/_nt_spritesheet.png); }
.wu-256.wu-black.wu-night { background-image: url(../images/wu/black/256x256/_nt_spritesheet.png); }

/*! White Night PNG Icons */
.wu-16.wu-white.wu-night { background-image: url(../images/wu/white/16x16/_nt_spritesheet.png); }
.wu-32.wu-white.wu-night { background-image: url(../images/wu/white/32x32/_nt_spritesheet.png); }
.wu-64.wu-white.wu-night { background-image: url(../images/wu/white/64x64/_nt_spritesheet.png); }
.wu-128.wu-white.wu-night { background-image: url(../images/wu/white/128x128/_nt_spritesheet.png); }
.wu-256.wu-white.wu-night { background-image: url(../images/wu/white/256x256/_nt_spritesheet.png); }

/*! Solid Black Night PNG Icons */
.wu-16.wu-solid-black.wu-night { background-image: url(../images/wu/solid-black/16x16/_nt_spritesheet.png); }
.wu-32.wu-solid-black.wu-night { background-image: url(../images/wu/solid-black/32x32/_nt_spritesheet.png); }
.wu-64.wu-solid-black.wu-night { background-image: url(../images/wu/solid-black/64x64/_nt_spritesheet.png); }
.wu-128.wu-solid-black.wu-night { background-image: url(../images/wu/solid-black/128x128/_nt_spritesheet.png); }
.wu-256.wu-solid-black.wu-night { background-image: url(../images/wu/solid-black/256x256/_nt_spritesheet.png); }

/*! Solid White Night PNG Icons */
.wu-16.wu-solid-white.wu-night { background-image: url(../images/wu/solid-white/16x16/_nt_spritesheet.png); }
.wu-32.wu-solid-white.wu-night { background-image: url(../images/wu/solid-white/32x32/_nt_spritesheet.png); }
.wu-64.wu-solid-white.wu-night { background-image: url(../images/wu/solid-white/64x64/_nt_spritesheet.png); }
.wu-128.wu-solid-white.wu-night { background-image: url(../images/wu/solid-white/128x128/_nt_spritesheet.png); }
.wu-256.wu-solid-white.wu-night { background-image: url(../images/wu/solid-white/256x256/_nt_spritesheet.png); }

.wu-16.wu-chanceflurries { background-position: -5px -5px; }
.wu-16.wu-chancerain { background-position: -31px -5px; }
.wu-16.wu-chancesleet { background-position: -57px -5px; }
.wu-16.wu-chancesnow { background-position: -83px -5px; }
.wu-16.wu-chancetstorms { background-position: -5px -31px; }
.wu-16.wu-clear { background-position: -31px -31px; }
.wu-16.wu-cloudy { background-position: -57px -31px; }
.wu-16.wu-flurries { background-position: -83px -31px; }
.wu-16.wu-fog { background-position: -5px -57px; }
.wu-16.wu-hazy { background-position: -31px -57px; }
.wu-16.wu-mostlycloudy { background-position: -57px -57px; }
.wu-16.wu-mostlysunny { background-position: -83px -57px; }
.wu-16.wu-partlycloudy { background-position: -5px -83px; }
.wu-16.wu-partlysunny { background-position: -31px -83px; }
.wu-16.wu-rain { background-position: -57px -83px; }
.wu-16.wu-sleet {background-position: -83px -83px;  }
.wu-16.wu-snow { background-position: -109px -5px; }
.wu-16.wu-sunny { background-position: -109px -31px; }
.wu-16.wu-tstorms { background-position: -109px -57px; }
.wu-16.wu-unknown { background-position: -109px -83px; }

.wu-32.wu-chanceflurries { background-position: -5px -5px; }
.wu-32.wu-chancerain { background-position: -47px -5px; }
.wu-32.wu-chancesleet { background-position: -89px -5px; }
.wu-32.wu-chancesnow { background-position: -131px -5px; }
.wu-32.wu-chancetstorms { background-position: -5px -47px; }
.wu-32.wu-clear { background-position: -47px -47px; }
.wu-32.wu-cloudy { background-position: -89px -47px; }
.wu-32.wu-flurries { background-position: -131px -47px; }
.wu-32.wu-fog { background-position: -5px -89px; }
.wu-32.wu-hazy { background-position: -47px -89px; }
.wu-32.wu-mostlycloudy { background-position: -89px -89px; }
.wu-32.wu-mostlysunny { background-position: -131px -89px; }
.wu-32.wu-partlycloudy { background-position: -5px -131px; }
.wu-32.wu-partlysunny { background-position: -47px -131px; }
.wu-32.wu-rain { background-position: -89px -131px; }
.wu-32.wu-sleet { background-position: -131px -131px; }
.wu-32.wu-snow { background-position: -173px -5px; }
.wu-32.wu-sunny { background-position: -173px -47px; }
.wu-32.wu-tstorms { background-position: -173px -89px; }
.wu-32.wu-unknown { background-position: -173px -131px; }

.wu-64.wu-chanceflurries { background-position: -5px -5px; }
.wu-64.wu-chancerain { background-position: -79px -5px; }
.wu-64.wu-chancesleet { background-position: -153px -5px; }
.wu-64.wu-chancesnow { background-position: -227px -5px; }
.wu-64.wu-chancetstorms { background-position: -5px -79px; }
.wu-64.wu-clear { background-position: -79px -79px; }
.wu-64.wu-cloudy { background-position: -153px -79px; }
.wu-64.wu-flurries { background-position: -227px -79px; }
.wu-64.wu-fog { background-position: -5px -153px; }
.wu-64.wu-hazy { background-position: -79px -153px; }
.wu-64.wu-mostlycloudy { background-position: -153px -153px; }
.wu-64.wu-mostlysunny { background-position: -227px -153px; }
.wu-64.wu-partlycloudy { background-position: -5px -227px; }
.wu-64.wu-partlysunny { background-position: -79px -227px; }
.wu-64.wu-rain { background-position: -153px -227px; }
.wu-64.wu-sleet { background-position: -227px -227px; }
.wu-64.wu-snow { background-position: -301px -5px; }
.wu-64.wu-sunny { background-position: -301px -79px; }
.wu-64.wu-tstorms { background-position: -301px -153px; }
.wu-64.wu-unknown { background-position: -301px -227px; }

.wu-128.wu-chanceflurries { background-position: -5px -5px; }
.wu-128.wu-chancerain { background-position: -143px -5px; }
.wu-128.wu-chancesleet { background-position: -281px -5px; }
.wu-128.wu-chancesnow { background-position: -419px -5px; }
.wu-128.wu-chancetstorms { background-position: -5px -143px; }
.wu-128.wu-clear { background-position: -143px -143px; }
.wu-128.wu-cloudy { background-position: -281px -143px; }
.wu-128.wu-flurries { background-position: -419px -143px; }
.wu-128.wu-fog { background-position: -5px -281px; }
.wu-128.wu-hazy { background-position: -143px -281px; }
.wu-128.wu-mostlycloudy { background-position: -281px -281px; }
.wu-128.wu-mostlysunny { background-position: -419px -281px; }
.wu-128.wu-partlycloudy { background-position: -5px -419px; }
.wu-128.wu-partlysunny { background-position: -143px -419px; }
.wu-128.wu-rain { background-position: -281px -419px; }
.wu-128.wu-sleet { background-position: -419px -419px; }
.wu-128.wu-snow { background-position: -557px -5px; }
.wu-128.wu-sunny { background-position: -557px -143px; }
.wu-128.wu-tstorms { background-position: -557px -281px; }
.wu-128.wu-unknown { background-position: -557px -419px; }

.wu-256.wu-chanceflurries { background-position: -5px -5px; }
.wu-256.wu-chancerain { background-position: -271px -5px; }
.wu-256.wu-chancesleet { background-position: -537px -5px; }
.wu-256.wu-chancesnow { background-position: -803px -5px; }
.wu-256.wu-chancetstorms { background-position: -5px -271px; }
.wu-256.wu-clear { background-position: -271px -271px; }
.wu-256.wu-cloudy { background-position: -537px -271px; }
.wu-256.wu-flurries { background-position: -803px -271px; }
.wu-256.wu-fog { background-position: -5px -537px; }
.wu-256.wu-hazy { background-position: -271px -537px; }
.wu-256.wu-mostlycloudy { background-position: -537px -537px; }
.wu-256.wu-mostlysunny { background-position: -803px -537px; }
.wu-256.wu-partlycloudy { background-position: -5px -803px; }
.wu-256.wu-partlysunny { background-position: -271px -803px; }
.wu-256.wu-rain { background-position: -537px -803px; }
.wu-256.wu-sleet { background-position: -803px -803px; }
.wu-256.wu-snow { background-position: -1069px -5px; }
.wu-256.wu-sunny { background-position: -1069px -271px; }
.wu-256.wu-tstorms { background-position: -1069px -537px; }
.wu-256.wu-unknown { background-position: -1069px -803px; }


/*! Darksky converted icons */
.wu-32.clear-day { background-position: -47px -47px; }
.wu-32.clear-night { background-position: -47px -47px; }
.wu-32.cloudy { background-position: -89px -47px; }
.wu-32.fog { background-position: -5px -89px; }
.wu-32.partly-cloudy-day { background-position: -47px -131px;}
.wu-32.partly-cloudy-night { background-position: -47px -131px;}
.wu-32.rain { background-position: -89px -131px; }
.wu-32.sleet { background-position: -131px -131px; }
.wu-32.snow { background-position: -173px -5px; }
.wu-32.wind { background-position: -47px -89px; }
.wu-32.unknown { background-position: -173px -131px; }

.wu-64.clear-day { background-position: -79px -79px; }
.wu-64.clear-night { background-position: -79px -79px; }
.wu-64.cloudy { background-position: -153px -79px; }
.wu-64.fog { background-position: -5px -153px; }
.wu-64.wind { background-position: -79px -153px; }
.wu-64.partly-cloudy-day { background-position: -79px -227px; }
.wu-64.partly-cloudy-night { background-position: -79px -227px; }
.wu-64.rain { background-position: -153px -227px; }
.wu-64.sleet { background-position: -227px -227px; }
.wu-64.snow { background-position: -301px -5px; }
.wu-64.unknown { background-position: -301px -227px; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
